.school {
  color: red;
  font-size: 15px;
  font-family: sans-serif;

}

h1, h3{
  font-family: cursive;
  font-style: italic;
  font-weight:bold;
}
.experience {
  color: blue;
  font-size: 15px;
  font-family: sans-serif;
}
.skills {
  color: purple;
  font-size: 15px;
  font-family: sans-serif;
}
.red {
  color: red;
}
